<!DOCTYPE html>
<html>
<head>
  <title>Binge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag "binge/application", media: "all" %>

  <%= javascript_include_tag "binge/application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=root_url%>">Binge</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% Binge::Model.all.each do |model| %>
            <li class='<%= "active" if @dataset.model.class_name == model.class_name %>'>
              <a href="<%= upload_url(model.parameterized_class_name) %>"><%= model.class_name %></a>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Back To Application</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
