<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%=root_url%>">Binge</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% Binge::Model.all.each do |model|%>
        <li class='<%="active" if @selected_model.class_name == model.class_name%>'>
          <a href="<%=upload_url(model.parameterized_class_name)%>"><%=model.class_name%></a>
        </li>
      <%end%>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Back To Application</a></li>
    </ul>
  </div>
</nav>

<div id="page_content">

  <div class="page-header">
    <h1><%=@selected_model.class_name%> <small>Bulk import <%=@selected_model.humanized_name%> data</small></h1>
  </div>

  <div class="panel panel-default" id="attributes_panel">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#attributes_body">
          Attributes <span id="attributes_status_icon" class="glyphicon glyphicon-chevron-right"></span>
      </h4>
    </div>
    <div class="panel-collapnse collapse" id="attributes_body">
      <div class="panel-body">
        <%@selected_model.columns.in_groups_of(4, false).each do |group|%>
        <div class="row">
          <%group.each do |column|%>
          <div class="col-md-3">
            <strong><%=column.name%></strong>: <%=column.type%>
          </div>
          <%end%>
        </div>
        <%end%>
      </div>
    </div>  
  </div>
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Upload Data File</h4>
    </div>
    <div class="panel-body">
      <%= form_for @dataset, url: process_file_path, html: {multipart: true, id: "data_upload_form", role: "form"} do |f| %>
        <%= f.hidden_field :model_class_name%>
        <div class="form-group <%='has-error' if has_errors?(@dataset, :data_file)%>">
          <%= f.file_field :data_file%>
          <%=show_error_message(@dataset, :data_file)%>
        </div>
        <%=f.submit "Submit", class: "btn btn-default"%>
      <%end%>  
    </div>
  </div>
  
</div>