<div id="page_content">
  <div class="page-header">
    <h1>
      <%= @dataset.model.class_name %> <small>Bulk import data</small>
    </h1>
  </div>

  <div class="panel panel-default" id="attributes_panel">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#attributes_body" aria-expanded="true" aria-controls="attributes_body">
        Attributes <span id="attributes_status_icon" class="glyphicon glyphicon-chevron-up"></span>
      </h4>
    </div>

    <div class="panel-collapse collapse in" id="attributes_body">
      <div class="panel-body">
        <% @dataset.model.columns.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |column| %>
          <div class="col-md-3">
            <strong><%= column.name %></strong>: <%= column.type %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @import_results %>
    <ul id="import-summary" class="list-group">
      <li id="total-rows" class="list-group-item">
        <span class="badge">
          <%= @import_results.total_rows_count %>
        </span>
        <span class='text-muted'>Total rows</span>
      </li>

      <li id="successful-rows" class="list-group-item">
        <span class="badge badge-success">
          <%= @import_results.imported_rows_count %>
        </span>
        <span class='text-success'>Imported rows</span>
      </li>

      <li id="failed-rows" class="list-group-item">
        <span class="badge badge-error">
          <%= @import_results.rows_with_errors.size %>
        </span>
        <span class='text-danger'>Failed rows</span>
      </li>
    </ul>

    <% if @import_results.rows_with_errors.any? %>
      <%= render 'error_report', results: @import_results, model: @dataset.model %>
    <% end %>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Upload Data File</h4>
    </div>

    <div class="panel-body">
      <%= form_for @dataset, html: {multipart: true, id: "data_upload_form", role: "form"} do |f| %>
        <%= f.hidden_field :model_class_name %>

        <div class="form-group mb30 <%= 'has-error' if has_errors?(@dataset, :data_file) %>">
          <%= f.file_field :data_file %>
          <%= show_error_message(@dataset, :data_file) %>
        </div>

        <input class="btn btn-default" id="preview_button" type="button" value="Preview">
        <%= f.submit "Import", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
